@import url("/font/urw-din/stylesheet.css");

:root {
    --white:#fff;
    --black:#000;
    --blue:#003552;
    --sky:#00a9e0;
    --sky-md:#009dd1;
    --sky-dk:#00779e;
    --red:#fe0015;
    --gray:#adafaf;
    --gray-lt:#f4f4f4;
    --gray-dk:#747676;
    --slate:#4d4f53;
    --transparent:transparent;
    --shadow:rgba(0,0,0,0.2);
    --serif:'ArnoPro',serif;
    --sans-serif:'URW DIN',sans-serif;
    --transition-duration:300ms;
    --transition-easing:ease;
    --transition:var(--transition-duration) var(--transition-easing)
}

html, body {
    height: 100%;
    margin: 0;
}
h1, h2, h3, h4, h5, h6 {
    font-family: var(--sans-serif);
    color: var(--blue);
    font-weight: 400;
    line-height: .833;
    text-transform: uppercase;
}
h2, h4, h6 { font-style: italic; }
h1 { font-size: 4em; }
h2 { font-size: 3.5em; }
h3 { font-size: 3em; }
h4 { font-size: 2.5em; }
h5 { font-size: 2em; }
h6 { font-size: 1em; }
a { color: var(--sky-dk); }
a:hover { color: var(--sky-md); }
a:active { color: var(--sky); }

#background {
    z-index: -1;
    height: 100%;
    position: absolute;
    left: 0;
    right: 0;

    margin: 0;
    padding: 0;

    background-color: var(--blue);
    background-image: url('/img/soldiers.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.page {
    width: 80%;

    margin: 0 auto;
    padding: 1em;
    
    border-top: 1em solid var(--blue);
    border-bottom: 1em solid var(--blue);

    opacity: 85%;
    background-color: var(--white);
    backdrop-filter: blur(10px);

    display: flex;
    flex-direction: row;

    font-family: var(--serif);
}

.sidebar {
    font-family: var(--sans-serif);
}

.sidebar ul {
    width: 12em;
    margin: 0;
    padding: 0;

    list-style-type: none;

    overflow-x: hidden;

    background-color: var(--gray-lt);
}

.sidebar a {
    display: block;
    padding: 1em;
    text-decoration: none;
}

.content div {
    margin-left: 1em;
    margin-right: 1em;
    margin-bottom: 0.5em;
    padding: 1.75em 5.5em 1.75em 2em;
    background-color: var(--gray-lt);
}

.footer {
    display: inline-block;
}